<img src="projectm.png" alt="Planets" usemap="#planetmap">

<map name="planetmap">

<area shape="rect" coords="30,1,158,89" href="/search?query=tag%3AWario" alt="Wario Shape Path" title="Wario Shape Path"/>

<area shape="rect" coords="165,1,293,89" href="***Mario Shape Path***.html" alt="Mario Shape Path" title="Mario Shape Path"/>

<area shape="rect" coords="300,1,428,89" href="***Luigi Shape Path***.html" alt="Luigi Shape Path" title="Luigi Shape Path"/>

<area shape="rect" coords="435,1,563,89" href="***Peach Shape Path***.html" alt="Peach Shape Path" title="Peach Shape Path"/>

<area shape="rect" coords="570,1,698,89" href="***Bowser Shape Path***.html" alt="Bowser Shape Path" title="Bowser Shape Path"/>

<area shape="rect" coords="705,1,833,89" href="***Yoshi Shape Path***.html" alt="Yoshi Shape Path" title="Yoshi Shape Path"/>

<area shape="rect" coords="840,1,968,89" href="***DonkeyKong Shape Path***.html" alt="DonkeyKong Shape Path" title="DonkeyKong Shape Path"/>

<area shape="rect" coords="975,1,1103,89" href="***DiddyKong Shape Path***.html" alt="DiddyKong Shape Path" title="DiddyKong Shape Path"/>

<area shape="rect" coords="1110,1,1238,89" href="***CaptainFalcon Shape Path***.html" alt="CaptainFalcon Shape Path" title="CaptainFalcon Shape Path"/>

<area shape="rect" coords="30,89,158,177" href="***Wolf Shape Path***.html" alt="Wolf Shape Path" title="Wolf Shape Path"/>

<area shape="rect" coords="165,89,293,177" href="***Fox Shape Path***.html" alt="Fox Shape Path" title="Fox Shape Path"/>

<area shape="rect" coords="300,89,428,177" href="***Falco Shape Path***.html" alt="Falco Shape Path" title="Falco Shape Path"/>

<area shape="rect" coords="435,89,563,177" href="***IceClimbers Shape Path***.html" alt="IceClimbers Shape Path" title="IceClimbers Shape Path"/>

<area shape="rect" coords="570,89,698,177" href="***Zelda Shape Path***.html" alt="Zelda Shape Path" title="Zelda Shape Path"/>

<area shape="rect" coords="705,89,833,177" href="***Sheik Shape Path***.html" alt="Sheik Shape Path" title="Sheik Shape Path"/>

<area shape="rect" coords="840,89,968,177" href="***Link Shape Path***.html" alt="Link Shape Path" title="Link Shape Path"/>

<area shape="rect" coords="975,89,1103,177" href="***ToonLink Shape Path***.html" alt="ToonLink Shape Path" title="ToonLink Shape Path"/>

<area shape="rect" coords="1110,89,1238,177" href="***Ganondorf Shape Path***.html" alt="Ganondorf Shape Path" title="Ganondorf Shape Path"/>

<area shape="rect" coords="30,177,158,265" href="***Mewtwo Shape Path***.html" alt="Mewtwo Shape Path" title="Mewtwo Shape Path"/>

<area shape="rect" coords="165,177,293,265" href="***Lucario Shape Path***.html" alt="Lucario Shape Path" title="Lucario Shape Path"/>

<area shape="rect" coords="300,177,428,265" href="***Pikachu Shape Path***.html" alt="Pikachu Shape Path" title="Pikachu Shape Path"/>

<area shape="rect" coords="435,177,563,265" href="***Jigglypuff Shape Path***.html" alt="Jigglypuff Shape Path" title="Jigglypuff Shape Path"/>

<area shape="rect" coords="570,177,698,265" href="***Squirtle Shape Path***.html" alt="Squirtle Shape Path" title="Squirtle Shape Path"/>

<area shape="rect" coords="705,177,833,265" href="***Ivysaur Shape Path***.html" alt="Ivysaur Shape Path" title="Ivysaur Shape Path"/>

<area shape="rect" coords="840,177,968,265" href="***Charizard Shape Path***.html" alt="Charizard Shape Path" title="Charizard Shape Path"/>

<area shape="rect" coords="975,177,1103,265" href="***Samus Shape Path***.html" alt="Samus Shape Path" title="Samus Shape Path"/>

<area shape="rect" coords="1110,177,1238,265" href="***ZeroSuitSamus Shape Path***.html" alt="ZeroSuitSamus Shape Path" title="ZeroSuitSamus Shape Path"/>

<area shape="rect" coords="30,265,158,353" href="***Lucas Shape Path***.html" alt="Lucas Shape Path" title="Lucas Shape Path"/>

<area shape="rect" coords="165,265,293,353" href="***Ness Shape Path***.html" alt="Ness Shape Path" title="Ness Shape Path"/>

<area shape="rect" coords="300,265,428,353" href="***Pit Shape Path***.html" alt="Pit Shape Path" title="Pit Shape Path"/>

<area shape="rect" coords="435,265,563,353" href="***Kirby Shape Path***.html" alt="Kirby Shape Path" title="Kirby Shape Path"/>

<area shape="rect" coords="570,265,698,353" href="***MetaKnight Shape Path***.html" alt="MetaKnight Shape Path" title="MetaKnight Shape Path"/>

<area shape="rect" coords="705,265,833,353" href="***Dedede Shape Path***.html" alt="Dedede Shape Path" title="Dedede Shape Path"/>

<area shape="rect" coords="840,265,968,353" href="***Ike Shape Path***.html" alt="Ike Shape Path" title="Ike Shape Path"/>

<area shape="rect" coords="975,265,1103,353" href="***Marth Shape Path***.html" alt="Marth Shape Path" title="Marth Shape Path"/>

<area shape="rect" coords="1110,265,1238,353" href="***Roy Shape Path***.html" alt="Roy Shape Path" title="Roy Shape Path"/>

<area shape="rect" coords="229,353,357,441" href="***Olimar Shape Path***.html" alt="Olimar Shape Path" title="Olimar Shape Path"/>

<area shape="rect" coords="364,353,492,441" href="***Rob Shape Path***.html" alt="Rob Shape Path" title="Rob Shape Path"/>

<area shape="rect" coords="499,353,627,441" href="***MrGameAndWatch Shape Path***.html" alt="MrGameAndWatch Shape Path" title="MrGameAndWatch Shape Path"/>

<area shape="rect" coords="634,353,762,441" href="***Snake Shape Path***.html" alt="Snake Shape Path" title="Snake Shape Path"/>

<area shape="rect" coords="769,353,897,441" href="***Sonic Shape Path***.html" alt="Sonic Shape Path" title="Sonic Shape Path"/>

<area shape="rect" coords="904,353,1032,441" href="***Random Shape Path***.html" alt="Random Shape Path" title="Random Shape Path"/>
</map>