{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_index.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}
{% block body %}
<div class="container-left">
   #left content in here
</div>

<div class="container-right">
   #right content in there
</div>

{% block javascript %}
    <script type="text/javascript">
        {% include "konami.js" %}
        {% include "index.js" %}
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}
{% endblock %}