{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search_advanced.css') }}" />
{% endblock %}
{% block body %}
<div class="container">
    <h3>Advanced Search</h3>
            <form action="/search" method="GET">
    <div class="row">
  		<div class="col-md-12">

              <div class="input-group" id="adv-search">
                  <input type="text" id="query" name="query" class="form-control" placeholder="Search for mods" />
                  <div class="input-group-btn">
                      <div class="btn-group" role="group">

                          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </div>
                  </div>
              </div>

                        </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-centered">
        <div class="form-group">
          <div class="center">
        <label> Category
          <select id="category" name="category" class="form-control input-sm" >
            <option value="all" selected>All</option>
              {% for category in categories %}

              <option value="{{category.name}}">{{category.name}}</option>
              {% endfor %}
          </select>
        </label>
        </div>
      </div>
      </div>
  	</div>
    <div class="row">
      <div class="col-md-3 col-centered">
  <div class="form-group">
    <div class="center">
  <label> See NSFW content:  
    <select id="nsfw" name="nsfw" class="form-control input-sm">
      <option value="none" selected>Hide NSFW</option>
      <option value="yes">Show all</option>
      <option value="only">Show only NSFW</option>
    </select>
  </label>
  </div>
</div>
</div>
</div>
  </form>
</div>
{% endblock %}
